FIREBASE = {
    'apiKey': "APIKEY",
    'authDomain': "something.firebaseapp.com",
    'databaseURL': "https://something.firebaseio.com",
    'storageBucket': "something.appspot.com",
    'messagingSenderId': "ID"
}
DEFAULT_TEAM = 'team'
